body {
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  min-height: 750px;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#app {
  width: 90%;
  max-width: 600px;
}
