body {
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  min-height: 750px;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#app {
  width: 90%;
  max-width: 600px;
}

.panel {
  margin-top: -100px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(0 0 0 / 56%);
  background-color: #fff;
}
.title {
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #333;
}
.btn-group {
  margin-top: 40px;
  text-align: center;
}
.btn-group button {
  width: 150px;
}
